

    <!-- Contenido Principal -->
    <div class="content">
        <h1>App de Cotizaciones</h1>
        <!-- Aquí se renderiza el contenido específico de cada vista -->
        <main class="main-content">
            
        </main>
    </div>


