<!-- <div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">App</a></li>
        <li class="breadcrumb-item  active"><a href="/clientes">Configuración</a></li>
    </ol>
</div> -->

<div class="col-xl-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Crear Empresa</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form action="/clientes/create" method="POST">

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label class="mb-1"><strong>Elige los Tipos de Cotización con los que operas:  </strong></label>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" id="indprd" name="indprd" class="form-check-input" value="1" checked>Productos
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" id="indser" name="indser" class="form-check-input" value="">Servicios
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="mb-3 col-md-6">
                            <label class="form-label">Nombre o Razon Social CIA</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                        </div>
                        <div class="mb-3 col-md-3">
                            <label class="form-label">RUC CIA</label>
                            <input type="text" class="form-control" id="documento" name="documento" required>
                        </div>
                        <div class="mb-3 col-md-3">
                            <label class="form-label">Telefonos CIA</label>
                            <input type="text" class="form-control" id="telefono" name="telefono" required>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Direccion CIA</label>
                            <input type="text" class="form-control" id="direccion" name="direccion">
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Correo</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                    </div>
                    <div class="row">

                        <div class="mb-3 col-md-6">
                            <label class="form-label">Rubro Industrial</label>
                            <select class="dropdown-groups" id="idrub" name="idrub">
                                <% rubros.forEach(rubro=> { %>
                                    <optgroup label="<%=rubro.nombre %>">

                                        <% rubrosh.forEach(rubrohijo=> { %>
                                            <% if(rubrohijo.idpadre==rubro.id) { %>
                                                <option value="<%= rubrohijo.id %>">
                                                    <%= rubrohijo.nombre %>
                                                </option>
                                                <% }%>
                                                    <% }); %>
                                                        <option valule="0">Otros</option>
                                    </optgroup>
                                    <% }); %>
                            </select>
                        </div>
                        <div class="mb-3 col-md-3">
                            <label class="mb-1"><strong>% de IGV</strong></label>
                            <div class="input-group mb-3">
                                <div class="input-group-text">
                                    <input type="checkbox" id="indimp" name="indimp" required>
                                </div>
                                <input type="text" class="form-control" id="mtoimp" name="mtoimp" value="0.00" disabled>
                            </div>
                        </div>
                        <div class="mb-3 col-md-3">
                            <label class="form-label">Nro Colaboradores</label>
                            <input type="text" class="form-control" id="cantusu" name="cantusu" value="1">
                        </div>
                        <div class="mb-3 col-md-3">
                            <label class="form-label">Tipo Vigencia</label>
                            <select id="tipos" name="tipos" class="default-select form-control wide">
                                <option value="A">Anual</option>
                                <option value="M">Mensual</option>
                                <option value="P">Prueba 30 dias</option>
                            </select>
                        </div>
                        <div class="mb-3 col-md-3">
                            <label class="form-label">Inicio de Vigencia</label>
                            <input type="text" class="form-control" id="fechavig" name="fechavig" disabled>
                        </div>
                        <div class="mb-3 col-md-3">
                            <label class="form-label">Fin de Vigencia</label>
                            <input type="text" class="form-control" id="fechavigf" name="fechavigf" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Sube el logo de tu empresa</label>
                            <input class="form-control" type="file" accept="image/*" id="imagen" name="imagen">
                        </div>
                        <div class="mb-3 col-md-6">
                            <img id="preview" src="" alt="Vista previa" class="img-thumbnail d-none" width="200">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Pagina Web</label>
                            <input type="text" class="form-control" id="pagweb" name="pagweb">
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">FaceBook</label>
                            <input type="text" class="form-control" id="facebook" name="facebook">
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Instagram</label>
                            <input type="text" class="form-control" id="instagram" name="instagram">
                        </div>
                        <div class="mb-3 col-md-6">
                            <label class="form-label">Linkedid</label>
                            <input type="text" class="form-control" id="linkedid" name="linkedid">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Crear Empresa</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('imagen').addEventListener('change', function (event) {
        const file = event.target.files[0]; // Obtiene el archivo seleccionado

        if (file) {
            const reader = new FileReader(); // Crea un lector de archivos

            reader.onload = function (e) {
                const preview = document.getElementById('preview');
                preview.src = e.target.result; // Asigna la imagen cargada al src
                preview.classList.remove('d-none'); // Muestra la imagen
            };

            reader.readAsDataURL(file); // Lee el archivo como DataURL
        }
    });
</script>